@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

.section {
    border: 1px solid #000;
}

body {
    position: absolute;
    left: 350px;
}

#save_task {
    position: absolute;
    left: 850px;
    top: 380px;
}
div {
    opacity: 1;
    transition: 0.3s;
}


.fade {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    transition: 2.0s;
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@-moz-keyframes fadein { /* Firefox */
    from {
 
        opacity: 0;
    }

    to {
        opacity: 1;

    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
​



.section .headline {
    padding: 5px;
    background: #a8a8a8;
    box-shadow: 2px 2px 5px #000;
    cursor: pointer;
}

        .section .headline i {
            float: left;
            margin-left: 15px;
            margin-top: 5px;
        }

    .section .body {
        padding: 15px;
        min-height: 100px;
        display: none;
    }
table, td {
    position: relative;
    left: 120px;
    display: inline-block;
    border: none !important;
    border-spacing: 0;
    border-collapse: collapse;
}

.bottom-left {
    position: relative;
    bottom: 25px;
    left: 16px;
}

.bottom-right {
    position: relative;
    top: 200px;
    left: 16px;
}


.top-right {
    position: absolute;
    top: 20px;
    right: 25px;
}


.glyphicon {
    font-size: 20px;
}

 /*Centered text*/
.centered {
    position: absolute;
    top: 45%;
    left: 45%;
    font-weight: bold;
    transform: translate(-50%, -50%);
    resize: none;
    overflow: hidden;
}

.centered:hover {
    overflow: visible;
}


    p {
    background-color: red;
    width: 20px;
    height: 20px;
    opacity: 0;
}

p:hover {
    background-color: red;
    width: 20px;
    height: 20px;
    opacity: 1;
}




 /*Bottom right text*/ 
.bottom-right {
    position: absolute;
    bottom: 5px;
    right: 30px;
}



h1 {
    position: absolute;
    left: 450px;
    top: 170px;
}


h2 {
    position: absolute;
    left: 320px;
    top: 240px;
}

h3 {
    position: absolute;
    left: 320px;
    top: 290px;
}

h4 {
    position: absolute;
    left: 150px;
    top: 400px;
}


h5 {
    position: absolute;
    left: 365px;
    top: 400px;
}

#myTask {
    visibility: visible;
    opacity: 0;
    filter: alpha(opacity=0);
}

h6 {
    position: absolute;
    left: 580px;
    top: 400px;
}


h7 {
    position: absolute;
    left: 580px;
    top: 400px;
}

label3 {
    position: absolute;
    left: 300px;
    top: 415px;
}



span {
    position: absolute;
    left: 850px;
    top: 375px;
}


label {
    position: absolute;
    left: 388px;
    top: 245px;
    width: 200px;
    height: 100px;
    background-color: transparent;
    font-size: 15px;
    resize: none;
}




labeldate {
    position: absolute;
    left: 320px;
    top: 378px;
}

labelhour {
    position: absolute;
    left: 670px;
    top: 378px;
}



label2 {
    position: absolute;
    left: 370px;
    top: 382px;
    width: 40px;
    height: 20px;
    background-color: white;
}

label4 {
    position: absolute;
    left: 720px;
    top: 382px;
    width: 40px;
    height: 20px;
    background-color: white;
}


label5 {
    position: absolute;
    left: 520px;
    top: 410px;
    width: 152px;
    height: 20px;
    background-color: red;
    opacity: 0;
}



.submiting {
    opacity: 0;
}


textarea {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}

